@tailwind base;
  @tailwind components;
  @tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill {

  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0 1000px #253341 inset;
  box-shadow: 0 0 0 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
  /*border: 2px solid #9ecaed; !* Đặt độ dày và màu sắc của đường viền *!*/
  /*background-clip: padding-box; !* Đảm bảo đường viền hiển thị đúng cách *!*/
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #B7C2CF;
  border-radius: 0.25rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b8b7b7;
}

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground font-roboto;
    }
  }
@layer utilities {
  .custom-shadow-red {
    box-shadow: 0 0 6px 2px #cb1c22;
  }
  .blue-growing-border {
    outline: none;
    border: 4px #9ecaed;
    box-shadow: 0 0 10px 2px #9ecaed;
  }
  .background-position{
    background-position: -25px -75px;
    height: 17px;
    width: 17px;
  }
  .image-rating{
    background-image: url(//cdn.tgdd.vn/mwgcart/avacomment/images/icon_comment_2x.png?v=2);
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 200px 150px;
  }
  .iconcmt-allstar {
    background-position: 0 -75px;
    height: 17px;
    width: 18px;
  }
  .iconcmt-allhalfstar {
    background-position: -25px -75px;
    height: 17px;
    width: 17px;
  }
  .iconcmt-allunstar {
    background-position: -50px -75px;
    height: 16px;
    width: 17px;
  }
  .iconcmt-blackstar {
    background-position: -160px -65px;
    height: 11px;
    width: 12px;
  }
}


